/* indexStyle.css for index.html */
#msgdiv {
    background-color: #ccc;
    padding: 20px;
    border: 1px solid green ;
    overflow:hidden;
}

#apps {
    padding: 20px;
    float: left;
    border: 1px solid green ;
}
