<!DOCTYPE html>
<html lang="en">
<head>
    <title>(Test) Chai Client</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/chai_logo.png">

    <!-- Include socket.io for client -->
    <script src="/socket.io/socket.io.js"></script>

    <!-- Include jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>

    <!-- Include AngularJS CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    
    <!-- Include Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- Custom style -->
    <style>
        #myApp {
            padding: 10px;
        }
        #apptabdiv {
            padding: 20px;
            background-color: lightgray;
            border: 1px solid black ;
        }
        #dataqueuediv {
            padding: 20px;
            background-color: lightsalmon ;
            border: 1px solid black;
        }
        #noapp {
            padding: 10px;
        }
        #app1 {
            padding: 10px;
        }
        #app2 {
            padding: 10px;
        }
        .glyphicon-wifi:before {
            content: "\e074";
        }
        .glyphicon-wifi-alt:before {
            content: "\e033";
        }
        #note1Out {
            color: red;
        }
        #remind1Out{
            color: red;
        }
        #note2Out {
            color: red;
        }
        #remind2Out{
            color: red;
        }
    </style>
</head>
<body ng-app="myApp" ng-controller="clientCtrl">

<div class="mt-5 container" id="myApp">

    <div class="container">

        <h2>Device Emulator</h2>
        <!--<p>Instructions:</p>
        <p>1. Select user name and device first. Once selected, don't change.</p>
        <p>2. Toggle connection button to simulate device operation with and without connection.</p>
        <p>3. Send to server to sync.</p>-->
        <div class="row">

            <div id="connect" class="col-lg-1">
                <form>
                    <div class="form-group">
                        <label>Connection</label>
                        <button type="button" id="connectButton" class="btn btn-primary btn-block col-lg-6" ng-click="toggleConnection()">
                            <span class="glyphicon glyphicon-signal" id="connectIcon"></span>
                        </button>
                    </div>
                </form>   
            </div>

            <div class="col-lg-2">
                <form>
                    <div class="form-group">
                        <label for="sel1">User:</label>
                        <select class="form-control" id="sel1" ng-model="selectedUser" ng-options="item.user for item in users" ng-change="updateUser(selectedUser)">
                        </select>
                    </div>
                </form>
            </div>

            <div class="col-lg-3">
                <form>
                    <div class="form-group">
                        <label for="sel1">Device:</label>
                        <select class="form-control" id="sel2" ng-model="selectedDevice" ng-options="item for item in deviceList" ng-change="updateDevice(selectedDevice)">
                        </select>
                    </div>
                </form>
            </div>

            <div class="col-lg-6">

            </div>

        </div>

    </div>

    <div id="mainContent" class="mt-5 container">

        <div class="col-lg-6" id="apptabdiv">

            <ul class="nav nav-tabs">
                <li class="active"><a id="noAppTab" data-toggle="tab" href="#noapp">No App</a></li>
                <li><a id="app1Tab" data-toggle="tab" href="#app1">App 1</a></li>
                <li><a id="app2Tab" data-toggle="tab" href="#app2">App 2</a></li>
            </ul>

            <div class="tab-content">

                <div id="noapp" class="tab-pane fade in active">
                    <h3>Inactive</h3>
                    <p>All apps currently off. Cannot send or listen to server for updates.</p>
                </div>

                <div id="app1" class="row tab-pane fade">

                    <div class="col-lg-8">
                        <form id='send-message'>
                            <!--<div class="input-group">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="submit('notification', notificationApp1)" data-toggle="tooltip" title="Notification">
                                        <i class="glyphicon glyphicon-time"></i>
                                    </button>
                                </div>
                                <input type="text" class="form-control" id='notificationApp1' ng-model="notificationApp1" placeholder="Enter notification"></input>
                            </div>-->
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="submit('reminder', reminderApp1)" data-toggle="tooltip" title="Reminder">
                                        <i class="glyphicon glyphicon-bell"></i>
                                    </button>
                                </div>
                                <input type="text" class="form-control" id='reminderApp1' ng-model="reminderApp1" placeholder="Enter reminder"></input>
                            </div>
                        </form>
                    </div>

                    <div class="col-lg-4">
                        <!--<h4 id="note1Out">{{localdb.notification.data[0].notification}}&nbsp;</h4>-->
                        <h4 id="remind1Out">{{localdb.reminder.reminderTime}}</h4>
                    </div>

                </div>

                <div id="app2" class="row tab-pane fade">

                    <div class="col-lg-8">
                        <form id='send-message'>
                            <!--<div class="input-group">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="submit('notification', notificationApp2)" data-toggle="tooltip" title="Notification">
                                        <i class="glyphicon glyphicon-time"></i>
                                    </button>
                                </div>
                                <input type="text" class="form-control" id='notificationApp2' ng-model="notificationApp2" placeholder="Enter notification">
                            </div>-->

                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="submit('reminder', reminderApp2)" data-toggle="tooltip" title="Reminder">
                                        <i class="glyphicon glyphicon-bell"></i>
                                    </button>
                                </div>
                                <input type="text" class="form-control" id='reminderApp2' ng-model="reminderApp2" placeholder="Enter reminder">
                            </div>
                        </form>
                    </div>

                    <div class="col-lg-4">
                        <!--<h4 id="note2Out">{{localdb.notification.data[0].notification}}&nbsp;</h4>-->
                        <h4 id="remind2Out">{{localdb.reminder.reminderTime}}</h4>         
                    </div>

                </div>

            </div>

        </div>

        <div class="col-lg-6" id="dataqueuediv">
            <h3>Local Database</h3>
            <ul class="list-group">
                <!--<pre><code>{{localdb.notification}}</code></pre>-->
                <pre><code id="remindLocaldb">{{localdb.reminder}}</code></pre>
            </ul>
        </div>

    </div>

</div>

    <!-- Include AngularJS -->
    <script>


        var app = angular.module("myApp", []);
        
        app.controller('clientCtrl', function($scope){
            var socket = io.connect();
            
            // local scope data
            $scope.connected = true;

            $scope.users = [
                {user: 'angie@cpp.edu', device: ['iPad-4603488219','iPhone-443056133']},
                {user: 'bryan@cpp.edu', device: ['GalaxyTab-99005','GalaxyPhone-7621']},
                {user: 'caleb@cpp.edu', device: ['GalaxyTab-28177','GalaxyPhone-9981','iPad-3434599017','iPhone-324056836']},
                {user: 'david@cpp.edu', device: ['iPad-0009555912','GalaxyPhone-3481']},
                {user: 'erica@cpp.edu', device: ['GalaxyPhone-4482']}
            ];
            $scope.selectedUser = $scope.users[0];
            $scope.deviceList = $scope.users[0].device;
            $scope.selectedDevice = $scope.deviceList[0];
            $scope.results = [];
            $scope.localdb = {}


            // Control the behavior of the connection toggle button
            $scope.toggleConnection = function(){
                $scope.connected = !$scope.connected
                if ($scope.connected == false){
                    document.getElementById("connectIcon").className = "glyphicon glyphicon-ban-circle";
                    document.getElementById("connectButton").className = "btn btn-danger btn-block";
                    document.getElementById("connectButton").firstChild.data = "Off";                  
                    return;
                }
                document.getElementById("connectIcon").className = "glyphicon glyphicon-signal";
                document.getElementById("connectButton").className = "btn btn-primary btn-block";
                document.getElementById("connectButton").firstChild.data = "";    
            }

            // Select user dropdown tracks user selection and also updates the device list
            $scope.updateUser = function(data){
                $scope.selectedUser = data;
                index = $scope.users.indexOf(data);
                $scope.deviceList = $scope.users[index].device;
                $scope.selectedDevice = $scope.deviceList[0];
            }

            // Select device dropdown tracks user selection
            $scope.updateDevice = function(data){
                $scope.selectedDevice = data;
            };

            //click noApp to change background
            $('#noAppTab').click(function() {
                document.getElementById("apptabdiv").style.backgroundColor = "lightgray";
            });

            //click app1 to change background
            $('#app1Tab').click(function() {
                document.getElementById("apptabdiv").style.backgroundColor = "lightblue";
            });

            //click app2 to change background
            $('#app2Tab').click(function() {
                document.getElementById("apptabdiv").style.backgroundColor = "lightgreen";
            });

            // Submit data to localdb and send to server
            $scope.submit = function(dataType, dataValue){
                if (validateForm(dataValue) == false){
                    alert("Please enter a value.");
                    return
                }
                
                // Save result to local db
                var result = getResult(dataType, dataValue)
                $scope.localdb[dataType] = result           

                // Clear the form input
                if(dataType === 'reminder'){
                    document.getElementById('reminderApp1').value = "";
                    document.getElementById('reminderApp2').value = "";
                    $scope.reminderApp1 = ""
                    $scope.reminderApp2 = ""           
                }
                // if(dataType == 'notification'){
                //     document.getElementById('notificationApp1').value = "";
                //     document.getElementById('notificationApp2').value = "";
                //     $scope.notificationApp1 = ""
                //     $scope.notificationApp2 = ""
                // }     
                updateOutputSyncColors()

                // Attempt sending result to server
                if($scope.connected == true) {
                    console.log(result)
                    //socket.emit('send message', JSON.stringify(result));
                    socket.emit('send message', result); // Send an Object, socket io automatically converts to JSON
                    //socket.emit('request update', result)
                }
            };

            // Check localdb sync status and update view
            function updateOutputSyncColors(){
                if ($scope.localdb == null || $scope.localdb == {}){
                    return
                }
                if($scope.localdb.hasOwnProperty('reminder')){
                    document.getElementById("remind1Out").style.color = ($scope.localdb.reminder.synced) ? "black" : "red";
                    document.getElementById("remind2Out").style.color = ($scope.localdb.reminder.synced) ? "black" : "red";
                }
                
                // if($scope.localdb.hasOwnProperty('notification')){
                //     document.getElementById("note1Out").style.color = ($scope.localdb.notification.synced) ? "black" : "red";
                //     document.getElementById("note2Out").style.color = ($scope.localdb.notification.synced) ? "black" : "red";
                // }         
            }

            socket.on('new message', function(serverData){
                var dataType = 'error'
                if (serverData.hasOwnProperty('reminderTime')){
                    dataType = 'reminder'
                }
                // else if (serverData.data[0].hasOwnProperty('notification')){
                //     dataType = 'notification'
                // }
                
                $scope.localdb[dataType] = serverData
                console.log('Localdb = ' + JSON.stringify($scope.localdb[dataType]))
                
                
                $scope.$apply()
                setTimeout(function(){
                    if (true){
                        updateOutputSyncColors()
                    }
                }, 1000)
            })
            
            socket.on('send update', function(serverData){
                console.log('Update from server: ' + JSON.stringify(serverData))
                var dataType = 'error'
                if (serverData.hasOwnProperty('reminderTime')){
                    dataType = 'reminder'
                }
                // else if (serverData.data[0].hasOwnProperty('notification')){
                //     dataType = 'notification'
                // }
                $scope.localdb[dataType] = serverData
                setTimeout(function(){
                    if (true){
                        updateOutputSyncColors()
                    }
                }, 1000)
            })

            socket.on('success', function(data){
                console.log('success: ' + data[0] + ' ' + data[1]);
                // Update local from db
                //socket.emit('get db entry from server', data[1]); 
                setTimeout(function(){
                    if (true){
                        updateOutputSyncColors()
                    }
                }, 500)
                
            });
            
            socket.on('error', function(data){
                console.log('error: ' + data);
            })

            // Build a data object 
            function getResult(type, value){
                var result = {
                    deviceID: $scope.selectedDevice,
                    user: $scope.selectedUser.user,
                    reminderTime: "",
                    timestamp: new Date().getTime(),
                    synced: false
                };
 
                if(type === 'reminder'){
                    result.reminderTime = value
                }
                // else if(type === 'notification'){
                //     result.data.push({reminder: value})
                // }
                return result; 
            }

            // Validate form data
            function validateForm(value) {
                if (value == null || value == "") {
                    return false
                }
                return true
            }
        });
    
    </script>
</body>
</html>